@import 'bootstrap/dist/css/bootstrap.css';

@font-face {
    font-family: 'Satoshi';
        src: url('./fonts/Satoshi.otf') format('opentype'); 
  }
  @font-face {
    font-family: 'Integral CF';
    src: url('./fonts/Mesa\ Grande.woff') format('woff');
    src: url('./fonts/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');

  }
  
  *{
    font-family: 'Satoshi', sans-serif;
    font-style: normal!important;
    padding: 0;
    margin: 0;
  }

  :root {
    --default-font: 'Satoshi', sans-serif;
    --heading-font: 'Integral CF', sans-serif;
    --nav-font: 'Satoshi', sans-serif;
}
  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #000000; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #0d6efd; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }

  :root {
    --nav-color: #444444;  /* The default color of the main navmenu links */
    --nav-hover-color: #444444; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  }

  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);

  }
  

a, button, .card-btn {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
.nav-item:hover {
  color: var(--contrast-color);
  transform: scale(1.1); 
  background-color: var(--accent-color);
}
.size:hover{
  color: var(--contrast-color);
  transform: scale(1.1); 
  background-color: var(--accent-color);
}

button:hover, .c:hover {
  color: var(--contrast-color);
  transform: scale(1.1); 
  background-color: var(--accent-color);

}

input:active,
input:focus-visible {
  outline: none; 
  border: none;
  box-shadow: none;
}
  h1,
  h2
    {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-weight: 700;
  }

  p,
  span {
    color: #00000099;
  }
  .bg-custom{
    background-color: #F2F0F1;
  }
  .center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .between{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .card-img-star{
    width: fit-content;
  }
  ::-webkit-scrollbar {
    height: 2rem; 
  }

